<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yhyecho.demo.dao.DynamicDSMapper">
    <select id="queryJournal" resultType="java.lang.Integer">
        SELECT * FROM book
    </select>
    <select id="queryUser" resultType="java.lang.String">
        SELECT * FROM girl
    </select>
    <select id="queryType" resultType="object">
        SELECT * FROM seckill
    </select>
</mapper>